/* import the font of the web from google fonts */
/* Poppins */@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* (font for the logo) */@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/* variables */
:root{
    --main-color: #3a6cf4;
    --main-bg: url(tools/main_bg.JPEG);
    --mid-bg: url(tools/mid_bg.jpg);
    --phone-bg: url(tools/phone_bg.JPEG);
}

/* styles for all elements */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    scroll-behavior: smooth;
}


/* intro animation for the logo of the header */
@keyframes header-logo{
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* intro animation for the nav of the header */
@keyframes header-nav{
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* intro animation for the bg main */
@keyframes main-bg-from-right{
    from {
        transform: translateX(100%) scale(0.9);
        border-radius: 50%;
        
    }
    to {
        transform: translateX(0);
    }
}

/* intro animation for the hello message and the job's name of the main */
@keyframes main-hello{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* intro animation for the description of the main */
@keyframes main-description{
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* intro animation for the btn of the main */
@keyframes main-btn{
    from {
        opacity: 0;
        transform: translateX(100%)
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* intro animation for the social icons of the main */
@keyframes main-social-icons{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* styles for header */
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 130px;
}
/* styles for the name/logo of the header */
header .logo {
    font-family: "Rowdies", "Poppins", sans-serif;
    text-decoration: none;
    color: var(--main-color);
    text-transform:uppercase;
    letter-spacing: 8px;
    font-weight: 700;
    font-size: 1.4em;
    animation: header-logo 2.4s ease 0.2s 1 backwards;
}
/* styles for the navigation bar of the header (links) (project...) */
header .navigation a{
    display: inline-flex;
    color: var(--main-color);
    text-decoration: none;
    padding-left: 30px;
    font-size: 1em;
    font-weight: 500;
    animation: header-nav 2.7s ease 0.2s 1 backwards;
}
header .navigation a:hover{
    color: #1146d7;
}
/* ============================== */


/* styles for the all sections */
section{
    padding: 100px 120px;
}

/* styles for the main section (main page) */
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: var(--main-bg) left/cover no-repeat;
    animation: main-bg-from-right 2.2s ease 0.2s 1 forwards;
}

/* styles for text of the main section */
.main h2{ /* hello im... */
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    animation: main-hello 2.7s ease 2s 1 backwards;
}

.main h2 span{ /* the job */
    display: inline-block;
    width: 100%;
    margin-top: 7px;
    color: #4e9eff;
    font-size: 1.7em;
}
.main h3{ /* the decicription */
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: main-description 2.8s ease 2.6s 1 backwards;
}

/* styles for the button of the main section */
.main-btn{
    color: #fff;
    background-color: var(--main-color);
    text-decoration: none;
    display: inline-block;
    font-size: 1.05em;
    text-transform: capitalize;
    font-weight: 600;   
    padding: 0.5375em 1.1575em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: 0.7s ease;
    animation: main-btn 2.7s ease 2.6s 1 backwards;
}

.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}

/* styles for the social-icons of the main section */
.social-icons a{
    color: #fff;
    text-decoration: none;
    margin-right: 24px;
    margin-left: 3px;
    font-size: 1.3em;
    display: inline-block;
    transition: 0.7s ease;
    animation: main-social-icons 2.7s ease 2.7s 1 backwards;
}
.social-icons a:hover{
    transform: scale(1.15);
}
.social-icons a:active{
    animation: main_click_social_icon 0.2s ease-out 1 ;

}
/* keyframes when i click on the icons */
@keyframes main_click_social_icon{
    0%{
        transform: scale(1.15);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1.15);
    }
}
/* ============================== */

/* smooth appearance animation for all Elements except: header , main , footer*/
#services, #skills,#projects .content,.title, #contact{
    animation: appear ease;
    animation-timeline: view(); /* start animation when element becomes visible */
    animation-range: entry 0% cover 20%; /* animation runs from 0% to 40% of element in view */
}

@keyframes appear {
    from {
        opacity: 0; /* start invisible */
        transform: scale(0.5); /* start at half size */
    }
    to {
        opacity: 1; /* fully visible */
        transform: scale(1); /* original size */
    }
}
/* =============================== */

/* styles for the services section */

/* styles for the title of the services and projects and contact section */
.title{
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 1.9em;
    font-weight: 800;
    margin-bottom: 30px;
}

/* styles for the content of the services and projects section (parent) */
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* styles for the cards of the all sections except projects */
.card{
    background-color: #fff;
    width: 344px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 10px 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.03);
}

/* styles for the icon of the card */
.card .icon{
    color: var(--main-color);
    font-size: 5em;
    text-align: center;
    margin-bottom: 10px;
}

/* styles for the info of the card */
.info{
    text-align: center;
}

/* styles for the title of the card */
.info h3{
    color: var(--main-color);
    margin: 10px;
}

/* border at the end of the section */
#services{
    border-bottom: 1px solid #000016;
}

/* ============================== */

/* styles for the skills section */

/* styles for the cards of the skills section */
#skills .card{
    transform: scale(1.1);
    width: 10em;
    padding-top: 0;
    max-height: 110px;
    overflow: hidden;
    transition: 1s;
    background-color: #fff;
}
#skills .card:hover{
    max-height: 13.7em;
}

/* styles for the icon of the skills*/
#skills .card .icon{
    margin-bottom: 4px;
}

/* styles for the title of the skills */
#skills .card .info h3{
    margin: 5px;
    text-transform: uppercase;
}
/* ============================= */

/* styles for the projects section */
.projects{
    background-color: #000016;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styles for the recommended project btn */
.recommended-btn{
    background-color: var(--main-color);
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s ease;
}
.recommended-btn:hover{
    transform: scale(1.03);
}

/* margin top for the content of the projrcts */
.projects .content{
    margin-top: 30px;
}

/* styles for the projects cards */
.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    position: relative;
    min-height: 14em;
    width: 22em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.03);
}

/* styles for the img of the project card */
.project-image img{
    width: 100%;
}

/* styles for the info of the project card */
.project-info{
    padding: 1em;
}

/* styles for the description of the project card */
.project-category{
    font-size: 0.8em;
    color: #000;   
}

/* styles for the title and link of the project card */
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

/* styles for the link of the project card */
.more-details{
    color: var(--main-color);
    text-decoration: none;
    text-transform: capitalize;
}
.more-details:hover{
    color: #1146d7;
}

/* styles for the recommended sign */
.project-card .recommended{
    position: absolute; top: 0; right: 30px;
    background-color: #3a6cf4c7;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 5px 13px;
    border-radius: 0 0 5px 15px;
    writing-mode: vertical-rl;
}

/* ============================== */

/* styles for the contact section (it's almost copy from services section)*/

/* styles for the icon of the contact section */
.contact .icon{
    font-size: 4.5em;
}

/* change the color of the name of the card of the contact section*/
.contact .info h3{
    color: #000;
}

/* styles for the info of the card of the contact section */
.contact .info p{
    font-size: 1.1em;
    color: #000;
    margin-top: 10px;
}
/* ============================== */

/* styles for the footer (copyrights and social icons) */
footer{
    background-color: #000016;
    color: #fff;
    padding: 1.7em;
    display: flex;
    justify-content: space-between;
}

/* styles for the copyrights of the footer */
.footer-title{

    font-size: 1.1em;
    font-weight: 600;
}
/* styles for the name after the copyrights of the footer */
.footer-title span{
    color: var(--main-color);
}

/* styles for the social icons of the footer (it's almost cope from the main section)*/
footer .social-icons a{
    font-size: 1.2em;
    padding: 0 12 0 0;
}

/* make the web responsive */
img{
    max-width: 100%;
    height: auto;
}

/* mobile */
@keyframes main-bg-from-bottom{
    from {
        transform: translateY(-100%) scale(0.9);
        border-radius: 50%;
    }
    to {
        transform: translateY(0);
    }
}

@media (max-width: 1100px){
    .main{
        justify-content: center;
        align-items: center;
        text-align: center;
        animation: main-bg-from-bottom 2.2s ease 0.2s 1 forwards;
    }
    .social-icons{
        margin-bottom: 170px;
        margin-left: 23px;
    }
}
@media (min-width: 570px) and (max-width:1100px){
    .main{
        background: var(--mid-bg) center/cover;
    }
    
    }

@media (max-width: 569px){
    .main{
        background: var(--phone-bg) center/cover;
    }
}

@media (max-width: 900px){
    /* styles for the all section */
    section{
        padding: 80px 20px;
    }

    .main-content{
        text-align: center;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1em;
    }

    /* styles for the content of the services and projects section (parent) */
    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header .navigation{
        display: flex;
        margin-top: 10px;
        font-size: 0.9em;
    }
    header .navigation a{
        padding: 0;
    }
    header .navigation a:not(:last-child){
        margin-right: 30px;
    }
    .main, #services, #projects, #contact, footer{
        font-size: 12px;
    }
    .main-content{
        text-align: center;
    }
    .main-content h2{
        font-size: 1.5em;
    }

}

@media (max-width: 400px){
    .main{
        font-size: 11px;
    }
    .card{
        width: 270px;
        transform: scale(0.9);
    }

    #skills .card{
        transform: scale(0.8);
    }

    footer{
        font-size: 10px;
    }
}
